<tr>
    <th>1</th>
    <th>Cisco</th>
    <th>Cisco@gmail.com</th>
    <th>+120000000</th>
    <th>hi!</th>
    <td>
        <a href="/update_user" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete"  >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td> 
</tr>  