<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management System</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    
    <!-- Header -->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">Système de Gestion des Contacts</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- /Header -->
    
    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i> Tous les utilisateurs</a>
                </div>
            </div>

            <div class="form-title text-center">
                <h2 class="text-dark">Nouvel Utilisateur</h2>
                <span class="text-light">Utilisez le formulaire ci-dessous pour créer un nouveau compte utilisateur</span>
            </div>

            <!-- Form handling -->
            <form method="POST" id="new_user">
                <div class="new_user">
                    <div class="form-group">
                        <label for="entreprise" class="text-light">Entreprise</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="entreprise" value="" placeholder="Cisco">
                    </div>
                    <div class="form-group">
                        <label for="email" class="text-light">Email</label>
                        <input type="text" name="email" value="" placeholder="example@gmail.com">
                    </div>
                    <div class="form-group">
                        <label for="telephone" class="text-light">Téléphone</label>
                        <input type="text" name="telephone" value="" placeholder="+120000000">
                    </div>
                    <div class="form-group">
                        <label for="message" class="text-light">Message</label>
                        <input type="text" name="message" value="" placeholder="Saisissez votre message">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Enregistrer</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <!-- /Main Site -->

</body>
</html>
